<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "gg_logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Accueil", root_path, class: "nav-link" %>
      </li>

      <li class="nav-item active">
        <%= link_to "Mes parties", index_my_events_path, class: "nav-link" %>
      </li>

      <li class="nav-item active">
        <%= link_to "Nouvelle partie", new_event_path, class: "nav-link" %>
      </li>

      <li>
      <!-- <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required px-5" type="text" placeholder="chercher un jeu"name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat pt-0" >
        <i class="fas fa-search"></i>
        </button>
      </div>
      </form> -->
        <%= form_tag games_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Chercher un jeu"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </li>

      <li class="nav-item">
        <% if !user_signed_in? %>
        <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>

      <li class="nav-item dropdown">
        <% if user_signed_in? && current_user.photo %>
          <%= cl_image_tag current_user.photo , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
          <%= image_tag "non_existing_id.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profil", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
