<div  class="p-3 mb-2">

  <h1 class="text-primary font-weight-bold text-center">Tu souhaites créer une nouvelle partie ?</h1>
  <p class="text-primary text-center">Très simple entre les informations demandées</p>
  <div class= "mx-auto" style="width: 500px">
    <%= simple_form_for [@event] do |f| %>
    <%= f.input :date, html5: true %>

    <%= f.input :details, placeholder: "Info supplémentaires"%>

    <%= f.input :place, placeholder: "Entre l'adresse du lieu"  %>
    <%= f.association :game %>
    <%= f.submit "Ajouter la partie", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>

</div>



